Dokumente/
libs/
runs/
masterarbeit/
tests/
transcripts/pose/
models/word_embedding/cc.de.300.bin
models/word_embedding/cc.de.300.vec
models/word_embedding/cc.de.300.reduced.vec
vocab/vid/
blender/vocab/*
blender/vocab_old
vocab/landmarks/dw_dgs/*

*.pkl
.vscode/launch.json
.idea/workspace-HP-Laptop-4.xml
blender/snow_v03_1-Erazer.blend
blender/snow_v03_1-Erazer.blend1
blender/snow_v03_1-HP-Laptop.blend1
blender/snow_v03_1.blend1
blender/snow_v03_1.blend1
