Dokumente/
libs/
runs/
masterarbeit/
tests/
transcripts/pose/
models/word_embedding/cc.de.300.bin
models/word_embedding/cc.de.300.vec
models/word_embedding/cc.de.300.reduced.vec
vocab/vid/
blender/vocab/*
blender/vocab_old
vocab/landmarks/dw_dgs/*

*.pkl
.vscode/launch.json
.idea/workspace-HP-Laptop-4.xml
blender/snow_v03_1-Erazer.blend
blender/snow_v03_1-Erazer.blend1
blender/snow_v03_1-HP-Laptop.blend1
blender/snow_v03_1.blend1
blender/snow_v03_1.blend1
key.txt
main3.py
jupy/eval/state/d512_el3_dl3_ff512.pt
jupy/eval/state/d512_el3_dl3_ff512_minval.pt
jupy/cc.de.300.bin
state_dict.pt
state_dict_v2.pt
state_dict_v2_old.pt
state_dict_reduced.pt
state_dict_reduced-Copy1.pt
seq2seq_backup.py
holistic_landmarker_test.py
ASLalphabet.jpg
blender/SIGGI.blend
blender/SIGGI.blend1
blender/maps/bake/SIGGI.obj
blender/maps/bake/SIGGI.mtl
blender/SIGGI - Kopie.blend
blender/SIGGI - Kopie.blend1
